<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/signup.css" />
    <link rel="icon" href="/images/shortcut44.png" />
  </head>
  <body>
    <div id="custom-loader">
      <div id="app-loader"></div>
    </div>

    <nav>
      <div class="navlinks">
        <a href="/">
          <img src="/images/fps_logo1.png" width="230" alt />
        </a>
        <div>
          <button onclick="location.href='/login'">Log In</button>
        </div>
      </div>
    </nav>

    <main>
      <section>
        <div>
          <div>
            <h3>Sign Up</h3>
            <p>It takes just a few minutes</p>
          </div>

          <% if (errorMessage) { %>
          <div class="user-message--error"><%= errorMessage %></div>
          <% } %>

          <form action="/signup" method="POST" novalidate>
            <div>
              <label for="fullname">Fullname</label>
              <input
                type="text"
                name="fullname"
                id="fullname"
                placeholder="John Hawkings Doe"
                value="<%= oldInput.fullname %>"
              />
            </div>

            <div>
              <label for="username">Username</label>
              <input
                type="text"
                name="username"
                id="username"
                placeholder="John123"
                value="<%= oldInput.username %>"
              />
            </div>

            <div>
              <label for="password">Password</label>
              <input
                type="password"
                name="password"
                id="password"
                placeholder="********"
                value="<%= oldInput.password %>"
              />
            </div>

            <div>
              <label for="confirmPassword">Password Confirmation</label>
              <input
                type="password"
                name="confirmPassword"
                id="confirmPassword"
                placeholder="********"
                value="<%= oldInput.confirmPassword %>"
              />
            </div>

            <div>
              <label for="email">Email address</label>
              <input
                type="email"
                name="email"
                id="email"
                placeholder="john@example.com"
                value="<%= oldInput.email %>"
              />
            </div>

            <div>
              <input
                name="idemny"
                type="checkbox"
                value="yes"
                id="confirm-age"
                checked
              />
              <label for="confirm-age">
                I confirm that I am 18 years old or older and accept
                <a href="/termsandconditions">Terms & Conditions</a> and
                <a href="#">Privacy Policy</a>
              </label>
            </div>

            <div>
              <button type="submit">Open an account</button>
            </div>

            <p>Already have an account? <a href="/login">Log In</a> now</p>
          </form>
        </div>
      </section>
    </main>
  </body>
</html>
