<%- include('./includes/navigation.ejs') %>


<div class="deposit-div rounded-2">
  <div class="container-fluid">
    <div class="app-custom-card p-3">
      <div class="row">
        <h5>Change Password</h5>
        <p>Your password can be changed from this interface.</p>
        <div class="col-12 col-md-6">
          <br />
          <% if (errorMessage) { %>
            <center>
              <div class="user-message user-message--error text-danger mb-3"><%= errorMessage %></div>
            </center>
          <% } %>
          <form
            action="/change-password"
            method="POST"
          >
            <div class="form-floating mb-3">
              <input
                type="password"
                name="current_password"
                class="form-control"
                id="floatingInput"
                placeholder="********"
                value="<%= oldInput.current_password %>"
              />
              <label for="floatingInput">Current Password</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="password"
                name="password"
                class="form-control"
                id="floatingPassword"
                placeholder="Password"
                value="<%= oldInput.password %>"
              />
              <label for="floatingPassword">Password</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="password"
                name="confirm_password"
                class="form-control"
                id="floatingPassword"
                placeholder="Confirm Password"
                value="<%= oldInput.confirm_password %>"
              />
              <label for="floatingPassword">Confirm Password</label>
            </div>
            <div class="d-grid gap-2 mx-auto mb-5">
              <button class="btn btn-success" data-processing="true" type="submit">
                Change Password
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    
  </div>
</div>

<script
      src="https://kit.fontawesome.com/f650632c93.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script src="/js/main.js"></script>
  </body>
</html>